        .container-form {
            position: absolute;
            z-index: 1005;
            top: 30%;
            left: 70%;
            width: 100%;
            max-width: 450px;
            margin: auto;
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 2px 10px #ccc;
        }

        h2 {
            text-align: center;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 12px;
        }

        .submit {
            width: 100%;
            padding: 12px;
            border: none;
            background: #1e40af;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .toggle {
            text-align: center;
            color: #2563eb;
            margin-top: 10px;
            cursor: pointer;
        }

        .msg {
            text-align: center;
            color: red;
            margin-bottom: 10px;
        }